/*************************************** BASICS *******************************************/
h1, h2, h3, h4 {
    font-family: 'Kanit', sans-serif;
    color: $main;
}
h1 {
    font-size: 2rem;
}
h2 {
    margin-left: 2rem;
}
h3 {
    margin-left: 9rem;
}
#mainContent p {
    max-width: 80%;
    margin: 0 auto 0 auto;
    padding: 0 0 1.5rem 0;
}
#mainContent a {
    color: $main;
}
.alert {
    font-size: larger;
    font-weight: bold;
    color: $alert;
}
em {
    font-size: larger;
    font-weight: bold;
    color: $main;
}
blockquote {
    margin: 0 0 1.3rem 12rem;
}
/*************************************** NAVIGATION *******************************************/ 
#logo {
    position: relative;
    top: .5rem;
    left: .5rem;
    display: inline-block;
}
#menu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
	font-size: 1.5rem;
	border: $border;
	padding: 3px 7px 6px;
	background-color: transparent;
}
#menu::before {
	content: "☰";
    color: $main;
}
#menu.open::before {
	content: "✕";
}
.navigation {
    background-color: $main;
}
.navigation li {
	display: none;
    font-size: 1.3rem;
}
.navigation li a {
	display: block;
    text-decoration: none;
	padding: .7rem;
	text-align: center;
    border: $border;
    border-radius: 1rem;
	color: $text;
    margin-bottom: .5rem;
    transition: .5s;
}
.navigation li a:hover {
	background-color: $light;
}
/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.open li {
	display: block;
	width: 90%;
}
.open li a {
	display: block;
}
@media (min-width: 600px) {
    #menu {
        display: none; /* hide hamburger button */
    }
    .navigation li {
        display: block;
    } 
    .navigation li a {
        color: white;
        font-size: .85rem;
        border: none;
    }
    .navigation li a:hover {
        color: $light;
        background-color: $main;
    }
}
@media (min-width: 700px) {
    .navigation li a {
        font-size: 1.1rem;
    }
    h1 {
        font-size: 3rem;
    }
    #homer {
        width: 60%;
    }
    body {
        font-size: larger;
    }
}
@media (min-width: 900px) {
    .navigation li a {
        font-size: 1.8rem;
    }
}
/*************************************** FORM *******************************************/ 
form {
    width: 90%;
    max-width: 45rem;
    margin: 0 auto;
}
fieldset {
    border: $border;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
legend {
    color: $main;
    margin: 0 1rem;
    padding: 0 1rem;
}
label {
    display: block;
    color: $main;
    padding: 1.25rem 0 .25rem 0;
    font-size: 1rem;
}
input, textarea {
    display: block;
    font-size: 1rem;
    border: $border;
    border-radius: 4px;
    padding: .75rem;
    color: $accent;
    width: 90%;
    max-width: 30rem;
    background-color: rgba(105, 71, 126, 0.1);
}
input[type=submit] {
    background-color: $light;
    color: $text;
    margin-top: 1rem;
    max-width: 20rem;
}
#homer {
    padding: 3rem;
}