/********************************
* Author: Eric Shewchuk         *
* Copyright: Banyan Media, 2023 *
********************************/

// sass --watch css/base.scss:css/styles.css

@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap');

@import 'normalize';

// create variables
$text: #292929;
$main: #A088EB;
$accent: #898596;
$light: #88A4EB;
$green: #C4EB88;
$yellow: #EBE288;

// create mixins
@mixin border {
    border: 1px solid black;
}

@import 'atoms';
@import 'molecules';
@import 'organisms';
@import 'template';
