@charset "UTF-8";
/********************************
* Author: Eric Shewchuk         *
* Copyright: Banyan Media, 2023 *
********************************/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap");
/*************************************** BASICS *******************************************/
h1, h2, h3, h4 {
  font-family: "Kanit", sans-serif;
  color: #A088EB;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-left: 2rem;
}

#mainContent p {
  max-width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 0 1.5rem 0;
}

#mainContent a {
  color: #A088EB;
}

/*************************************** NAVIGATION *******************************************/
#logo {
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
  display: inline-block;
}

#menu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid #A088EB;
  padding: 3px 7px 6px;
  background-color: transparent;
}

#menu::before {
  content: "☰";
  color: #A088EB;
}

#menu.open::before {
  content: "✕";
}

.navigation li {
  display: none;
  font-size: 1.5rem;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  border: 1px solid #A088EB;
  border-radius: 1rem;
  color: #292929;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}

.navigation li a:hover {
  background-color: #88A4EB;
}

/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.open li {
  display: block;
  width: 90%;
}

.open li a {
  display: block;
}

@media (min-width: 600px) {
  #menu {
    display: none; /* hide hamburger button */
  }
  .navigation li {
    display: block;
  }
  .navigation li a {
    color: #292929;
    font-size: 0.85rem;
  }
  .navigation li a:hover {
    color: #EBE288;
    background-color: #A088EB;
  }
}
@media (min-width: 700px) {
  .navigation li a {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 3rem;
  }
  #homer {
    width: 60%;
  }
}
@media (min-width: 900px) {
  .navigation li a {
    font-size: 1.8rem;
  }
}
/*************************************** FORM *******************************************/
form {
  width: 90%;
  max-width: 45rem;
  margin: 0 auto;
}

fieldset {
  border: 1px solid #A088EB;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

legend {
  color: #A088EB;
  margin: 0 1rem;
  padding: 0 1rem;
}

label {
  display: block;
  color: #A088EB;
  padding: 1.25rem 0 0.25rem 0;
  font-size: 1rem;
}

input, textarea {
  display: block;
  font-size: 1rem;
  border: 1px solid #A088EB;
  border-radius: 4px;
  padding: 0.75rem;
  color: #898596;
  width: 90%;
  max-width: 30rem;
  background-color: rgba(105, 71, 126, 0.1);
}

input[type=submit] {
  background-color: #88A4EB;
  color: #292929;
  margin-top: 1rem;
  max-width: 20rem;
}

#homer {
  padding: 3rem;
  background-color: rgba(105, 71, 126, 0.1);
}

/*************************************** BASICS *******************************************/
#mainContent {
  padding: 0 2rem 0 2rem;
}
#mainContent ul {
  max-width: 70%;
  margin-left: 10%;
}
#mainContent ul li {
  margin-left: 0;
}

/*************************************** NAVIGATION *******************************************/
nav {
  width: 100%;
  height: 7.5rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.hero {
  max-width: 100%;
  height: auto;
  margin: 0px;
}

footer {
  text-align: center;
  padding-top: 2rem;
}

@media (min-width: 600px) {
  nav {
    display: block;
    background-color: #A088EB;
  }
  .navigation {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
  }
}
/*************************************** SPECIALTIES *******************************************/
#lightbox {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#lightbox img {
  box-shadow: 0.3em 0.3em 0.5em #898596;
  margin-top: 2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #292929;
}

header {
  width: 100%;
}

@media (min-width: 600px) {
  nav {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
