/*
Author: Eric Shewchuk
Purpose: Assignment for WDD130
*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: #25587A;
    font-family: "Lucida Bright", Georgia, Serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #27293B;
    display: grid;
    grid-template-columns: 150px auto;
}
#header-logo {
    width: 80px;
    margin: 5px 0 0 8px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    background-color: #27293B;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #B2843A;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #043A4F;
}
.home-title {
    color: white; 
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
    color: #B2843A
}
h4 {
    color: #B2843A;
}
#cont-page {
    color: white;
}
h1, h2 {
    font-family: "Permanent Marker", "Lucida Handwriting", cursive;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
.button-box {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #B2843A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #27293B;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #27293B;
}
main {
    margin-top: 15px;
}
main section {
    text-align: center;
}
main section image {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #043A4F;
    grid-column: 1/11;
    grid-row: 4/9;
}
.book, .join {
    background-color: #27293B;
    color: white;
    padding: 7px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover, .join:hover {
    background-color: #043A4F;
    color: #B2843A;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.msg {
    background-color: #25587A;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #27293B;
}
.msg h2 {
    color: #B2843A;
}
.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #043A4F;
    color: #B2843A;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.faq {
    margin-top: 100px;
}
footer p {
    font-size: 1.2em;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    background-color: #27293B;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

 /* CSS for the accordions on FAQ page */
 .accordions {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 25px 0 0 0;
    padding: 10px;
    display: flex;
    background: #f2f2f2;
    color: rgba(0,0,0,.87);
}
.accordion {
    margin: auto;
    width: 100%;
}
.accordion input {
    display: none;
}
.box {
    position: relative;
    background: white;
    height: 64px;
    transition: all .15s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.box-header {
    background: #27293B;
    color: white;
    z-index: 100;
    cursor: initial;
}
.box-title {
    width: calc(100% - 40px);
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
    width: calc(100% - 40px);
    padding: 30px 20px;
    font-size: 18pt;
    color: rgba(0,0,0,.54);
    display: none;
}
.box-close {
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
input:checked + .box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
    border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
    display: inline-block;
}
.arrows section .box-title {
    padding-left: 44px;
    width: calc(100% - 64px);
}
.arrows section .box-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 20px;
    top: -2px;
    transition: transform .15s ease-in-out;
    color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
    transform: rotate(90deg);
}
.box-content img {
    box-shadow: 5px 5px 10px #27293B;
}
.left {
    float: left;
    margin-right: 20px;
    width: 25%;
    
}
.right {
    float: right;
    margin-left: 20px;
    width: 25%;
}

/* CSS for the form on the Contact Us page */
form {
    margin: 30px auto 0 auto;
    width: 400px;
    padding: 1em;
    background-color: #27293B;
    border: 3px solid #B2843A;
    border-radius: 1em;
  }
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
form li + li {
    margin-top: 1em;
  }
  
  #contact-form label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: white;
  }
  
  #contact-form input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  #contact-form input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  #contact-form textarea {
    vertical-align: top;
    height: 5em;
  }
  
  #contact-form .button {
    padding-left: 90px;
  }
  
  #contact-form button {
    margin-left: 0.5em;
    background-color: #B2843A;
    padding: 8px;
    color: #27293B;
  }
  #feedback {
    margin: 15px;
    color: white;
    font-size: smaller;
    padding: .5em;
    display: none;  
    text-align: center;    
}
.moveDown {
    margin-top: 3em;
}

        

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}