nav {
    background-color: darkslategray;
}
body {
    background-color: blanchedalmond;
}
a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
a:hover {
    color:blanchedalmond;
}
h1 {
    color:darkslategray;
}
h2 {
    margin-left: 30px;
    color: darkslategray;
}