/******************************************************
*  Author: Eric Shewchuk                              *
*  Purpose: Personal Website | Assignment for WDD130  *
*******************************************************/

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Permanent+Marker&display=swap');

:root {
    --primary-color: #56328F;
    --secondary-color: #315EAD;
    --accent1-color: #729FED;
    --accent2-color: #CFB544;
  
    --heading-font: "Kanit";
    --paragraph-font: Arial, Helvetica, sans-serif;
  
    --headline-color-on-white: #56328F;
    --headline-color-on-color: #CFB544;
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #729FED  ;
    --nav-link-color: white;
    --nav-background-color: #7946CF;
    --nav-hover-link-color: #CFB544;
    --nav-hover-background-color: #7946CF;
  }

html {
    background-color: rgb(49, 48, 48);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    border: 3px solid var(--accent2-color);
}

header {
    padding: 10px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 27px;
    font-size: 1.6em;
}

a:hover {
    color: var(--nav-hover-link-color);
}

#header-logo {
    margin: 8px 0 0 8px;
}

#hero {
    margin: 0 0 0 0;
    color: var(--headline-color-on-white);
    text-align: center;
}

h1 {
    font-size: 4em;
    font-family: "Kanit";
    margin-bottom: 0;
}

.button-box {
    width: 150px;
    background-color: var(--secondary-color);
    padding: 15px;
    border: 2px solid var(--accent2-color);
    border-radius: 9px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main p {
    background-color: var(--accent1-color);
    color: white;
    padding: 20px;
    width: 70%;
    margin: 80px 20px 20px 130px;
    font-size: 1.2em;
}
#home-img {
    width: 40%;
    position: relative;
    float: left;
    margin: -50px 30px 2px 80px;
    border: 2px solid var(--accent2-color);
    box-shadow: 5px 5px 10px #27293B;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 25px 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
