/******************************************************
*  Author: Eric Shewchuk                              *
*  Purpose: Personal Website | Assignment for WDD130  *
*******************************************************/

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Permanent+Marker&display=swap');

:root {
    --primary-color: #56328F;
    --secondary-color: #315EAD;
    --accent1-color: #729FED;
    --accent2-color: #CFB544;
  
    --heading-font: "Kanit";
    --paragraph-font: Arial, Helvetica, sans-serif;
  
    --headline-color-on-white: #56328F;
    --headline-color-on-color: #CFB544;
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #729FED  ;
    --nav-link-color: white;
    --nav-background-color: #7946CF;
    --nav-hover-link-color: #CFB544;
    --nav-hover-background-color: #7946CF;
}

/******************
*  Global Styles  *
******************/

html {
    background-color: rgb(49, 48, 48);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    border: 3px solid var(--accent2-color);
}

header {
    padding: 10px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 27px;
    font-size: 1.6em;
}

a:hover {
    color: var(--nav-hover-link-color);
}

#header-logo {
    margin: 8px 0 0 8px;
}

#hero {
    margin: 0 0 0 0;
    color: var(--headline-color-on-white);
    text-align: center;
}

h1 {
    font-size: 4em;
    font-family: "Kanit";
    margin-bottom: 0;
}

.button-box {
    width: 150px;
    background-color: var(--secondary-color);
    padding: 15px;
    border: 2px solid var(--accent2-color);
    border-radius: 9px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main p {
    background-color: var(--accent1-color);
    color: white;
    padding: 20px;
    width: 70%;
    margin: 80px 20px 20px 130px;
    font-size: 1.2em;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 25px 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

/*********************
*  Home Page Styles  *
*********************/

#home-img {
    width: 40%;
    position: relative;
    float: left;
    margin: -50px 30px 2px 80px;
    border: 2px solid var(--accent2-color);
    box-shadow: 5px 5px 10px #27293B;
}

/**********************
*  Crews Page Styles  *
**********************/

 .accordions {
    height: calc(100% - 20px);
    width: calc(100% - 120px);
    margin: 25px auto 0 auto;
    padding: 10px;
    display: flex;
    background: var(--accent1-color);
    color: rgba(0,0,0,.87);
}
.accordion {
    margin: auto;
    width: 100%;
}
.accordion input {
    display: none;
}
.box {
    position: relative;
    background: white;
    height: 64px;
    transition: all .15s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.box-header {
    background: var(--accent1-color);
    color: white;
    z-index: 100;
    cursor: initial;
}
.box-title {
    width: calc(100% - 40px);
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
    width: calc(100% - 40px);
    padding: 30px 20px;
    font-size: 14pt;
    color: rgba(0,0,0,.54);
    display: none;
}
.box-close {
    position: absolute;
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
input:checked + .box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
    border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
    display: inline-block;
}
.arrows section .box-title {
    padding-left: 44px;
    width: calc(100% - 64px);
}
.arrows section .box-title:before {
    position: absolute;
    display: block;
    content: '\203a';
    font-size: 18pt;
    left: 20px;
    top: -2px;
    transition: transform .15s ease-in-out;
    color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
    transform: rotate(90deg);
}
.box-content img {
    box-shadow: 5px 5px 10px #27293B;
}
.left {
    float: left;
    margin-right: 20px;
    width: 35%;
    
}
.right {
    float: right;
    margin-left: 20px;
    width: 35%;
}


/***********************
*  Course Page Styles  *
***********************/

#course-main img {
    width: 45%;
    box-shadow: 5px 5px 10px #27293B;
}


#course-main p {
    background-color: white;
    color: black;
    width: 80%;
}

#top-half, #bottom-half {
    width: 95%;
    margin: 0 auto 150px auto;
}

#top-half img {
    float: left;
    margin: 0 20px 25px 35px;
}

#bottom-half img {
    float: right;
    margin: 0 45px 0 20px;
} 

#bottom-half p {
    width: 90%;
    margin-left: auto;
}


/************************
*  Contact Page Styles  *
************************/

form {
    margin: 30px auto 0 auto;
    width: 500px;
    padding: 1em;
    background-color: var(--secondary-color);
    border: 3px solid #B2843A;
    border-radius: 1em;
  }
  
legend {
    color: white;
    padding: 0;
    margin: 0;
  }
  
form label {
    display: inline-block;
    width: 90px;
    text-align: left;
    margin: 8px 0 4px 0;
    color: var(--accent2-color);
  }
  
form input,
textarea {
    font: 1em sans-serif;
    width: 350px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
form input:focus,
textarea:focus {
    border-color: #000;
  }
  
textarea {
    vertical-align: top;
    height: 5em;
    margin-top: 5px;
  }
  
form button {
    margin: 8px auto 5px auto;
    background-color: #B2843A;
    padding: 8px;
    color: #27293B;
  }
#feedback {
    margin: 15px;
    color: var(--headline-color-on-white);
    font-size: small;
    padding: .5em;
    display: none;  
    text-align: center;    
}
.moveDown {
    margin-top: 3em;
}