/*************************************** BASICS *******************************************/
body {
    display: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: $text;
    font-size: 1em;
}
h1, h2, h3, h4 {
    font-family: 'Kanit', sans-serif;
    color: $main;
}
h1 {
    font-size: 2rem;
}
h2 {
    margin-left: 2rem;
}
h3 {
    margin-left: 9rem;
}
header {
    background-color: $main;
}
#mainContent {
    position: relative;
    padding: 0 2rem 0 2rem;
    margin-top: 0;
    & ul, ol {
        max-width: 70%;
        margin: 0 0 0 10%;
        padding-top: 0;
        & li {
            margin-left: 0;
        }
        & p {
            max-width: 80%;
            margin: 0 auto 0 auto;
            padding: 0 0 1.5rem 0;
        }
        & a {
            color: $main;
        }
    }
}
.alert {
    font-size: larger;
    font-weight: bold;
    color: $alert;
}
em {
    font-size: larger;
    font-weight: bold;
    color: $main;
}
blockquote {
    margin: 0 0 1.3rem 12rem;
}
footer {
    text-align: center;
    padding-top: 2rem;
}
@media (min-width: 700px) {
    body {
        font-size: 1.2em;
    }
    #main-content h1 {
        top: -3rem;
    }
}
