@charset "UTF-8";
/********************************
* Author: Eric Shewchuk         *
* Copyright: Banyan Media, 2023 *
********************************/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap");
/*************************************** BASICS *******************************************/
h1, h2, h3, h4 {
  font-family: "Kanit", sans-serif;
  color: #493487;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-left: 2rem;
}

h3 {
  margin-left: 9rem;
}

header {
  background-color: #493487;
}

#mainContent p {
  max-width: 80%;
  margin: 0 auto 0 auto;
  padding: 0 0 1.5rem 0;
}

#mainContent a {
  color: #493487;
}

.alert {
  font-size: larger;
  font-weight: bold;
  color: rgb(119, 24, 24);
}

em {
  font-size: larger;
  font-weight: bold;
  color: #493487;
}

blockquote {
  margin: 0 0 1.3rem 12rem;
}

#homer {
  padding: 3rem;
}

/*************************************** NAVIGATION *******************************************/
#logo {
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
  display: inline-block;
}

#menu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 3px 7px 6px;
  background-color: white;
}

#menu::before {
  content: "☰";
  color: #493487;
}

#menu.open::before {
  content: "✕";
}

.navigation {
  background-color: #493487;
}

.navigation li {
  display: none;
  font-size: 1.3rem;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 0.7rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.8rem;
  background-color: white;
  color: #493487;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}

.navigation li a:hover {
  color: #88A4EB;
}

/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.open li {
  display: block;
  width: 90%;
}

.open li a {
  display: block;
}

@media (min-width: 600px) {
  #menu {
    display: none; /* hide hamburger button */
  }
  .navigation ul {
    z-index: 1;
  }
  .navigation li {
    display: block;
  }
  .navigation li a {
    color: white;
    background-color: #493487;
    font-size: 0.85rem;
    border: none;
  }
  .navigation li a:hover {
    color: #88A4EB;
    background-color: #493487;
  }
}
@media (min-width: 700px) {
  .navigation li a {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 3rem;
  }
  #homer {
    width: 60%;
  }
  body {
    font-size: larger;
  }
}
@media (min-width: 900px) {
  .navigation li a {
    font-size: 1.8rem;
  }
}
/*************************************** FORM *******************************************/
form {
  width: 90%;
  max-width: 45rem;
  margin: 0 auto;
}

fieldset {
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

legend {
  color: #493487;
  margin: 0 1rem;
  padding: 0 1rem;
}

label {
  display: block;
  color: #493487;
  padding: 1.25rem 0 0.25rem 0;
  font-size: 1rem;
}

input, textarea {
  display: block;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.75rem;
  color: #878199;
  width: 90%;
  max-width: 30rem;
  background-color: rgba(105, 71, 126, 0.1);
}

input[type=submit] {
  background-color: #88A4EB;
  color: #292929;
  margin-top: 1rem;
  max-width: 20rem;
}

/*************************************** BASICS *******************************************/
#mainContent {
  padding: 0 2rem 0 2rem;
}
#mainContent ul, #mainContent ol {
  max-width: 70%;
  margin: 0 0 0 10%;
  padding-top: 0;
}
#mainContent ul li, #mainContent ol li {
  margin-left: 0;
}

/*************************************** NAVIGATION *******************************************/
nav {
  width: 100%;
  height: minmax(6.5rem, auto);
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.hero {
  max-width: 100%;
  height: auto;
  margin: 0px;
}

footer {
  text-align: center;
  padding-top: 2rem;
}

@media (min-width: 600px) {
  nav {
    display: block;
    background-color: #493487;
    height: 6.5rem;
  }
  .navigation {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
  }
}
/*************************************** SPECIALTIES *******************************************/
#lightbox {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#lightbox img {
  box-shadow: 4px 4px 4px #878199;
  margin-top: 2rem;
}

#video {
  margin: 0 auto 3rem auto;
  max-width: 1000px;
  height: auto;
}
#video iframe {
  box-shadow: 4px 4px 4px #878199;
  aspect-ratio: 16/9;
}

.mySlides {
  box-shadow: 4px 4px 4px #878199;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #292929;
}

header {
  width: 100%;
}

@media (min-width: 600px) {
  nav {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
}
/**********************
* SLIDE SHOW SPECIFIC *
**********************/
.slideshow-container * {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #878199;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(61, 8, 82, 0.596);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #493487;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
