body {
    width: 1000px;
    margin: auto;
    background-color: aliceblue;
    color:darkslategrey
}

.dark {
    background-color: darkslategrey;
    margin-top: 50px;
    padding: 20px 20px;
    color:blanchedalmond
}

img {
    margin: 20px 20px;
    float: left;
}

a {
    color:rgba(168, 151, 128, 0.658)
}